@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$siteColorAccent: #f16d7f;
$siteColorText: #222222;
$sitePaddingLeft: calc(50% - 585px);
$sitePaddingRight: calc(50% - 585px);
@mixin text ($fs, $ff, $fw, $lh, $color) {
    font-size: $fs;
    font-family: $ff;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}


.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.container a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    flex-direction: row;
    padding-left: $sitePaddingLeft;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 24px;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-right-cart-svg:hover path {
    fill: $siteColorAccent;
    transition-duration: 0.3s;
}

.header-left-logo-link {
    display: flex;
    align-items: center;
}

.header-name p {
    @include text(27px, Lato, 300, 32px, $siteColorText);
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $siteColorText;
    margin-left: 13px;
}

.header-d {
    font-weight: 900;
    color: $siteColorAccent;
}



.header-browse a {
    display: flex;
    align-items: center;
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    padding-left: 15px;
    margin-left: 37px;
    @include text(14px, Lato, 300, 32px, $siteColorText);
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: $siteColorText;
}

.header-browse-link:hover {
    transition-duration: 0.3s;
    background-image: none;
    background-color: #dbdbdb;
}

.header-browse {
    position: relative;
}

.header-browse>.menu-box {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    left: 50px;
    top: 47px;
    position: absolute;
    display: none;
    
}




.header-browse:hover .menu-box {
    display: flex;
}

.browse-icon {
    margin-left: 4px;
    padding-bottom: 2px;
}

.form {
    position: relative;
    width: 290px;
    margin: 0 auto;
}

.input {
    width: 100%;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    @include text(14px, Lato, 300, 32px, #a4a4a4);
    letter-spacing: 0.025em;
    padding-left: 16px;
}

.button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 38px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;

}

.header-account a {
    @include text(15px, Lato, 400, 32px, #ffffff);
    letter-spacing: 0.025em;
    text-align: center;
    width: 130px;
    height: 38px;
    background-color: $siteColorAccent;
    display: flex;
    align-items: center;
    padding-left: 19px;
    margin-left: 26px;
}

.header-account-link:hover {
    transition-duration: 0.3s;
    background-color: #ffffff;
    color: $siteColorAccent;
    border: 1px solid $siteColorAccent;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 47px;
    list-style: none;
    padding-top: 19px;
    padding-bottom: 22px;
}

.menu-link {
    @include text(14px, Lato, 700, 26px, $siteColorText);     
    text-transform: uppercase;
}

.menu-list {
    position: relative;
}

.menu-list:hover .menu-box {
    display: flex;
}

.last:hover .menu-box::before {
right: 20px;
left: auto;
}

.last:hover .menu-box {
    right: 0;
    left: auto;
}

.menu-box {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 32px;
    display: none;
}

.menu-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    left: 10px;
    right: auto;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
background-color: #fff;
}

.menu-title {
    @include text(14px, Lato, 400, 32px, #232323);
   text-transform: uppercase;
   letter-spacing: 0.025em;
   padding-bottom: 8px;
   border-bottom: 1px solid #e8e8e8;
   width: 235px; 
   margin-bottom: 16px;
}

.menu-item {
    margin-right: 46px;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.item-link {
    @include text(14px, Lato, 400, 28px, #646464);
    letter-spacing: 0.025em;
    text-decoration: none;
    display: block;
}

.intro {
    margin-top: 10px;
}

.item-link:hover {
    color: $siteColorAccent;
}


.header-preview {
    background-image: url(./img/preview-img.png);
    background-size: cover;
    height: 665px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.preview-decor {
    padding-left: $sitePaddingLeft;
    padding-right: 12px;
}

.the-brand {
    @include text(60px, Lato, 900, 1.2, $siteColorText);
    font-style: normal;
    letter-spacing: 0.025em;
   
}

.of-luxerious {
    @include text(40px, Lato, 900, normal, $siteColorText);
    font-style: normal;
}

.fashion {
    @include text(40px, Lato, 900, normal, $siteColorAccent);
    font-style: normal;
}

.sail-board {
    padding-top: 98px;
    display: grid;
    grid-template-areas: "A A A A  A A B B  B B B B"
        "A A A A  A A D D  D D D D"
        "C C C C  C C D D  D D D D";
    row-gap: 21px;

}

.item-1 {
    grid-area: A
}

.item-2 {
    grid-area: B;
}

.item-3 {
    grid-area: C;
}

.item-4 {
    grid-area: D;
}


.sail-board-item {
    position: relative;


}

.sail-board-item-info {
    position: absolute;
    top: 42px;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    padding-left: 18px;
    padding-top: 16px;
}

.sail-board-item:nth-child(2)>.sail-board-item-info {
    width: 162px;
}

.sail-board-item:nth-child(3)>.sail-board-item-info {
    width: 225px;
}

.sail-board-item:nth-child(4)>.sail-board-item-info {
    width: 180px;
}

.sail-board-item-info p {
    @include text(18px, Lato, 900, 1.2, $siteColorText);
    letter-spacing: 0.025em;
}

.sail-board-item-info h3 {
    @include text(30px, Lato, 900, normal, $siteColorAccent);
    letter-spacing: 0.025em;
}

.mainn h2,
p {
    text-align: center;

}

.mainn h2 {
    padding-top: 100px;
    padding-bottom: 16px;
    @include text(30px, Lato, 700, 54px, $siteColorText);
    letter-spacing: 0.025em;
}

.mainn p {
    @include text(14px, Lato, 400, 54px, #9f9f9f);
    letter-spacing: 0.025em;
}

.catalog-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.item {
    background: #ffffff;
    position: relative;

    &-link {
        text-decoration: none;
        display: block;
    }

    &-img {
        width: 100%;
    }

    &-product {
        margin: 24px 16px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-heading {
        @include text(14px, Lato, 400, 1.2, $siteColorText);
        text-transform: uppercase;
    }

    &-price {
        @include text(16px, Lato, 700, 1.2, $siteColorAccent);
        text-transform: uppercase;
    }

    &-add {
        display: none;
        position: absolute;
        justify-content: center;
        width: 100%;
        pointer-events: none;
        top: 30%;

    }

    &-add-button {
        display: flex;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 8px;
        justify-content: center;
        align-items: center;
        pointer-events: all;

        &:hover {
            box-shadow: 0 0 20px 0 #ffffff;
            transition: box-shadow 0.3s;
        }
    }

    &-add-basket {
        margin-right: 11px;
    }

    &-add-text {
        color: #ffffff;

    }

    &:hover {
        box-shadow: 0 0 8px 0 rgba($color: #bebebe, $alpha: 1.0);
        transition: box-shadow 0.5s;

        .item-img {
            filter: brightness(30%);
            transition: filter 0.5s;
        }

        .item-add {
            display: flex;

        }
    }
}

.catalog-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-browse {
    @include text(16px, Lato, 700, normal, #f25376);
    font-style: normal;
    letter-spacing: 0.025em;
    padding: 18px 43px 19px 24px;
    border: $siteColorAccent 2px solid;
    text-decoration: none;
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-browse:hover {
    color: #ffffff;
    background-color: $siteColorAccent;
    transition-duration: 0.3s;

}

.button-browse:hover path {
    fill: #ffffff;
    transition-duration: 0.3s;
}

.foot-offer {
    display: flex;
    padding-top: 113px;
    padding-bottom: 97px;

    &-content {
        background-color: #222224;
        height: 529px;
        padding-top: 48px;
        padding-left: 36px;
    }

    &-content-position {
        display: flex;
        flex-direction: row;
        gap: 33px;
        align-items: center;
    }

    &-h {
        @include text(20px, Lato, 700, 1.2, #fbfbfb);
        letter-spacing: 0.025em;
    }

    &-p {
        padding-top: 16px;
        @include text(14px, Lato, 300, 24px, #fbfbfb);
        letter-spacing: 0.025em;
        padding-bottom: 62px;
        margin-right: 43px;
    }
}

.footer-info {
    display: flex;
    padding-left: $sitePaddingLeft;
    padding-right: $sitePaddingRight;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/background-foter.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-left {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 28px;
        padding-top: 97px;
        max-width: 500px;
    }

    &-left-p {
        @include text(16px, Lato, 400, 26px, #222224);
        font-style: italic;
        letter-spacing: 0.025em;
        padding-bottom: 15px;
    }

    &-left h3 {
        @include text(16px, Lato, 700, 26px, $siteColorAccent);
        letter-spacing: 0.025em;
    }

    &-left h4 {
        @include text(12px, Lato, 300, 14px, #222224);
    }
}

.footer-right-info {
    padding-top: 150px;
    padding-bottom: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right-info-p1 {
    text-align: center;
    @include text(24px, Lato, 400, 54px, #222224);
    font-style: normal;
}

.footer-right-info-p2 {
    @include text(14px, Lato, 400, 24px, #222224);
    font-style: normal;
    padding-bottom: 32px;
}

.email {
    display: flex;

}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e1e1e1;
    padding: 12px;
    border-radius: 30px 0 0 30px;
    width: 256px;
    height: 49px;
    font-size: 14px;
}

.email-button-link {
    background-color: $siteColorAccent;
    border: none;
    width: 100px;
    height: 49px;
    border-radius: 0 30px 30px 0;
    text-align: center;
    @include text(14px, Lato, 400, normal, #ffffff);
    font-style: normal;
    cursor: pointer;
}

.email-button-link:hover {
    background-color: #E05C6E;
    transition-duration: 0.3s;
}

.footer-logo {
    padding-top: 64px;
    padding-left: $sitePaddingLeft;
    padding-bottom: 29px;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.footer-brand-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-brand-column-info {
    @include text(14px, Lato, 300, 24px, #898989);
    letter-spacing: 0.025em;
    max-width: 500px;
    text-align: left;
}

.footer-column a {
    text-decoration: none;
}

.footer-column-name {
    list-style: none;

}

.column-link {
    @include text(16px, Lato, 400, 42px, #898989);
    letter-spacing: 0.025em;
}

.column-link:hover {
    color: $siteColorAccent;
    transition-duration: 0.2s;
}

.column-link-active {
    @include text(18px, Lato, 700, 26px, $siteColorAccent);
    letter-spacing: 0.025em;
    padding-bottom: 31px;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: #e6e6e6;
}

.footer-contacts-left {
    @include text(16px, Lato, 400, 42px, #7a7a7a);
    letter-spacing: 0.025em;
}

.footer-contacts-right {
    display: flex;
    flex-direction: row;
}

.footer-fb,
.footer-tw,
.footer-pint,
.footer-inst,
.footer-google {
    background-color: #FFF;
}

.footer-fb {
    padding: 8px 10.59px 8px 10.93px;
}

.footer-inst {
    padding: 8px 8.61px 7px 8px;
}

.footer-tw {
    padding: 8px 7.61px 8px 7.95px;
}

.footer-pint {
    padding: 8px 9.6px 8px 9.93px;
}

.footer-google {
    padding: 6px 7px 6px 8px;
}

.footer-fb,
.footer-inst,
.footer-tw,
.footer-pint {
    margin-right: 7px;
}


.footer-fb:hover,
.footer-tw:hover,
.footer-pint:hover,
.footer-inst:hover,
.footer-google:hover {
    background-color: #F16D7F;

}

.footer-fb:hover path,
.footer-tw:hover path,
.footer-pint:hover path,
.footer-inst:hover path,
.footer-google:hover path {
    fill: #fff;
}