@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

.container a {
  text-decoration: none;
}

.header-menu {
  display: flex;
  flex-direction: row;
  padding-left: calc(50% - 585px);
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-left-logo-link {
  display: flex;
  align-items: center;
}

.header-right-cart-svg:hover path {
  fill: #f16d7f;
  transition-duration: 0.3s;
}

.header-name p {
  font-size: 27px;
  font-family: Lato;
  font-weight: 300;
  line-height: 32px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-left: 13px;
}

.header-d {
  font-weight: 900;
  color: #f16d7f;
}

.header-browse a:first-child {
  padding-left: 15px;
  font-size: 14px;
  font-family: Lato;
  font-weight: 300;
  line-height: 32px;
  color: #222222;
  letter-spacing: 0.025em;
}

.header-browse:hover {
  transition-duration: 0.3s;
  background-image: none;
  background-color: #ffffff;
}

.header-browse {
  position: relative;
  margin-left: 37px;
  background-color: #e8e8e8;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  width: 87px;
  height: 38px;
  display: flex;
  align-items: center;
}

.header-browse > .menu-box {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  left: 20px;
  top: 47px;
  position: absolute;
  display: none;
}

.header-browse:hover .menu-box {
  display: flex;
}

.browse-icon {
  margin-left: 4px;
  padding-bottom: 2px;
}

.form {
  position: relative;
  width: 290px;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  font-size: 14px;
  font-family: Lato;
  font-weight: 300;
  line-height: 32px;
  color: #a4a4a4;
  letter-spacing: 0.025em;
  padding-left: 16px;
}

.button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 38px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.header-account a {
  font-size: 15px;
  font-family: Lato;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  letter-spacing: 0.025em;
  text-align: center;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  padding-left: 19px;
  margin-left: 26px;
}

.header-account-link:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.header-account-link:hover > .browse-icon path {
  fill: #f16d7f;
}

.navigation {
  border-top: 1px solid #eeeeee;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 47px;
  list-style: none;
  padding-top: 19px;
  padding-bottom: 22px;
}

.menu-link {
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 26px;
  color: #222222;
  text-transform: uppercase;
}

.menu-list {
  position: relative;
}

.menu-list:hover .menu-box {
  display: flex;
}

.last:hover .menu-box::before {
  right: 20px;
  left: auto;
}

.last:hover .menu-box {
  right: 0;
  left: auto;
}

.menu-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 32px;
  display: none;
}

.menu-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
  left: 10px;
  right: auto;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.menu-title {
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: 32px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  margin-bottom: 16px;
}

.menu-item {
  margin-right: 46px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.item-link {
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  color: #646464;
  letter-spacing: 0.025em;
  text-decoration: none;
  display: block;
}

.intro {
  margin-top: 10px;
}

.item-link:hover {
  color: #f16d7f;
}

.heading-banner {
  background-color: #f8f3f4;
}
.heading-banner-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
}
.heading-banner-info-left {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.heading-banner-info-right {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.new-arrivals {
  color: #f16d7f;
  font-weight: 700;
}

.heading-music {
  background-color: #f8f3f4;
}

.slider {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
}

.slider-left-link {
  position: relative;
}

.slider-left-pointer {
  position: absolute;
  left: 17px;
  top: 15px;
  fill: #ffffff;
}

.slider-right-link {
  position: relative;
}

.slider-right-pointer {
  position: absolute;
  right: 17px;
  top: 15px;
  fill: #ffffff;
}

.slider-slider {
  position: relative;
}

.product-desc {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
  position: relative;
  margin-right: calc(50% - 585px);
}

.product-description {
  border: 1px solid #e2e2e2;
  position: absolute;
  top: -50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-description-heading {
  padding-top: 73px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
  color: #f16d7f;
  padding-bottom: 14px;
}
.product-description-heading-name {
  padding-top: 17px;
  padding-bottom: 67px;
  font-size: 18px;
  font-family: Lato;
  font-weight: 900;
  line-height: 24px;
  color: #4d4d4d;
  text-transform: uppercase;
}
.product-description-info {
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
  color: #5e5e5e;
  text-align: center;
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 28px;
}
.product-description-info-name {
  display: flex;
  gap: 44px;
  padding-bottom: 37px;
}
.product-description-info-name-span {
  color: #b9b9b9;
}
.product-description-info-name p {
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
  color: #2f2f2f;
}
.product-description-info-price {
  font-size: 24px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
  color: #f16d7f;
  padding-bottom: 43px;
}
.product-description-choose {
  padding-top: 63px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.product-description-choose-form h3 {
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
  color: #2f2f2f;
  padding-bottom: 16px;
}
.product-description-choose-item {
  cursor: pointer;
  padding-left: 15px;
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  color: #bcbcbc;
}
.product-description-button {
  padding-left: 244px;
  padding-right: 243px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 122px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #f16d7f;
  text-decoration: none;
}
.product-description-button-text {
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: 1.2;
  color: #f16d7f;
}
.product-description-button:hover {
  background-color: #f16d7f;
}
.product-description-button:hover p {
  color: #ffffff;
}
.product-description-button:hover path {
  fill: #ffffff;
}

.catalog-items-container h2 {
  padding-top: 119px;
  padding-bottom: 72px;
  font-size: 24px;
  font-family: Lato;
  font-weight: 900;
  line-height: 20px;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
}

.catalog-items {
  display: -webkit-inline-box;
  padding-left: calc(50% - 585px);
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}

.catalog-items-container {
  padding-top: 763px;
}

.item-1-background,
.item-2-background,
.item-3-background {
  background-image: url(./img/rectangle_5_copy_2764.png);
}

.item-1-background {
  padding: 5px 86px 5px 82px;
}

.item-2-background {
  padding-right: 75px;
  padding-left: 78px;
}

.item-3-background {
  padding: 7px 83px 8px 92px;
}

.item {
  background: #ffffff;
  position: relative;
}
.item-link {
  text-decoration: none;
  display: block;
}
.item-img {
  width: 100%;
}
.item-product {
  margin: 24px 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-heading {
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
}
.item-price {
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: 1.2;
  color: #f16d7f;
  text-transform: uppercase;
}
.item-add {
  display: none;
  position: absolute;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  top: 30%;
}
.item-add-button {
  display: flex;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 8px;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
.item-add-button:hover {
  box-shadow: 0 0 20px 0 #ffffff;
  transition: box-shadow 0.3s;
}
.item-add-basket {
  margin-right: 11px;
}
.item-add-text {
  color: #ffffff;
}
.item:hover {
  box-shadow: 0 0 8px 0 #bebebe;
  transition: box-shadow 0.5s;
}
.item:hover .item-img {
  filter: brightness(30%);
  transition: filter 0.5s;
}
.item:hover .item-add {
  display: flex;
}

.footer-info {
  display: flex;
  margin-top: 73px;
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
  justify-content: space-between;
  align-items: normal;
  background-image: url(img/background-foter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-info-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
  padding-top: 111px;
  max-width: 500px;
}
.footer-info-left-p {
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  line-height: 26px;
  color: #222224;
  font-style: italic;
  letter-spacing: 0.025em;
  padding-bottom: 15px;
}
.footer-info-left h3 {
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: 26px;
  color: #f16d7f;
  letter-spacing: 0.025em;
}
.footer-info-left h4 {
  font-size: 12px;
  font-family: Lato;
  font-weight: 300;
  line-height: 14px;
  color: #222224;
}

.footer-right-info {
  padding-top: 150px;
  padding-bottom: 143px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right-info-p1 {
  font-size: 24px;
  font-family: Lato;
  font-weight: 400;
  line-height: 54px;
  color: #222224;
  text-align: center;
  font-style: normal;
}

.footer-right-info-p2 {
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
  font-style: normal;
  padding-bottom: 32px;
}

.email {
  display: flex;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e1e1e1;
  padding: 12px;
  border-radius: 30px 0 0 30px;
  width: 256px;
  height: 49px;
  font-size: 14px;
}

.email-button-link {
  background-color: #f16d7f;
  border: none;
  width: 100px;
  height: 49px;
  border-radius: 0 30px 30px 0;
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.email-button-link:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  transition-duration: 0.3s;
}

.footer-logo {
  padding-top: 64px;
  padding-left: calc(50% - 585px);
  padding-bottom: 29px;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.footer-brand-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-brand-column-info {
  font-size: 14px;
  font-family: Lato;
  font-weight: 300;
  line-height: 24px;
  color: #898989;
  letter-spacing: 0.025em;
  max-width: 500px;
  text-align: left;
}

.footer-column a {
  text-decoration: none;
}

.footer-column-name {
  list-style: none;
}

.column-link {
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  line-height: 42px;
  color: #898989;
  letter-spacing: 0.025em;
}

.column-link:hover {
  color: #f16d7f;
  transition-duration: 0.2s;
}

.column-link-active {
  font-size: 18px;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  color: #f16d7f;
  letter-spacing: 0.025em;
  padding-bottom: 31px;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  background-color: #e6e6e6;
}

.footer-contacts-left {
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  line-height: 42px;
  color: #7a7a7a;
  letter-spacing: 0.025em;
}

.footer-contacts-right {
  display: flex;
  flex-direction: row;
}

.footer-fb,
.footer-tw,
.footer-pint,
.footer-inst,
.footer-google {
  background-color: #FFF;
}

.footer-fb {
  padding: 8px 10.59px 8px 10.93px;
}

.footer-inst {
  padding: 8px 8.61px 7px 8px;
}

.footer-tw {
  padding: 8px 7.61px 8px 7.95px;
}

.footer-pint {
  padding: 8px 9.6px 8px 9.93px;
}

.footer-google {
  padding: 6px 7px 6px 8px;
}

.footer-fb,
.footer-inst,
.footer-tw,
.footer-pint {
  margin-right: 7px;
}

.footer-fb:hover,
.footer-tw:hover,
.footer-pint:hover,
.footer-inst:hover,
.footer-google:hover {
  background-color: #F16D7F;
}

.footer-fb:hover path,
.footer-tw:hover path,
.footer-pint:hover path,
.footer-inst:hover path,
.footer-google:hover path {
  fill: #fff;
}/*# sourceMappingURL=styleSinglePage.css.map */