@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$siteColorAccent: #f16d7f;
$siteColorText: #222222;
$sitePaddingLeft: calc(50% - 585px);
$sitePaddingRight: calc(50% - 585px);

@mixin text ($fs, $ff, $fw, $lh, $color) {
    font-size: $fs;
    font-family: $ff;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}


// HEADER

.container a {
    text-decoration: none;

}

.header-menu {
    display: flex;
    flex-direction: row;
    padding-left: $sitePaddingLeft;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 24px;

}

.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-left-logo-link {
    display: flex;
    align-items: center;
}

.header-right-cart-svg:hover path {
    fill: $siteColorAccent;
    transition-duration: 0.3s;
}

.header-name p {
    @include text(27px, Lato, 300, 32px, #222222);
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $siteColorText;
    margin-left: 13px;
}

.header-d {
    font-weight: 900;
    color: $siteColorAccent;
}

.header-browse a:first-child {
    padding-left: 15px;
    @include text(14px, Lato, 300, 32px, $siteColorText);
    letter-spacing: 0.025em;
}

.header-browse:hover {
    transition-duration: 0.3s;
    background-image: none;
    background-color: #ffffff;
}

.header-browse {
    position: relative;
    margin-left: 37px;
    background-color: #e8e8e8;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    width: 87px;
    height: 38px;
    display: flex;
    align-items: center;
}

.header-browse>.menu-box {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    left: 20px;
    top: 47px;
    position: absolute;
    display: none;
}

.header-browse:hover .menu-box {
    display: flex;
}

.browse-icon {
    margin-left: 4px;
    padding-bottom: 2px;
}

.form {
    position: relative;
    width: 290px;
    margin: 0 auto;
}

.input {
    width: 100%;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    @include text(14px, Lato, 300, 32px, #a4a4a4);
    letter-spacing: 0.025em;
    padding-left: 16px;
}

.button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 38px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;

}

.header-account a {
    @include text(15px, Lato, 400, 32px, #ffffff);
    letter-spacing: 0.025em;
    text-align: center;
    width: 130px;
    height: 38px;
    background-color: $siteColorAccent;
    display: flex;
    align-items: center;
    padding-left: 19px;
    margin-left: 26px;
}

.header-account-link:hover {
    transition-duration: 0.3s;
    background-color: #ffffff;
    color: $siteColorAccent;
    border: 1px solid $siteColorAccent;
}

.header-account-link:hover>.browse-icon path {
    fill: $siteColorAccent;
}

// NAV-MENU


.navigation {
    border-top: 1px solid #eeeeee;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 47px;
    list-style: none;
    padding-top: 19px;
    padding-bottom: 22px;
}

.menu-link {
    @include text(14px, Lato, 700, 26px, $siteColorText);
    text-transform: uppercase;
}

.menu-list {
    position: relative;
}

.menu-list:hover .menu-box {
    display: flex;
}

.last:hover .menu-box::before {
    right: 20px;
    left: auto;
}

.last:hover .menu-box {
    right: 0;
    left: auto;
}

.menu-box {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 32px;
    display: none;
}

.menu-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    left: 10px;
    right: auto;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    background-color: #fff;
}

.menu-title {
    @include text(14px, Lato, 400, 32px, $siteColorText);
    text-transform: uppercase;
    letter-spacing: 0.025em;
    padding-bottom: 8px;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    margin-bottom: 16px;
}

.menu-item {
    margin-right: 46px;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.item-link {
    @include text(14px, Lato, 700, 28px, #646464);
    letter-spacing: 0.025em;
    text-decoration: none;
    display: block;
}

.intro {
    margin-top: 10px;
}

.item-link:hover {
    color: $siteColorAccent;
}

// HEADING-BANNER

.heading-banner {
    background-color: #f8f3f4;

    &-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 65px;
        padding-bottom: 65px;

        &-left {
            @include text(24px, Lato, 900, 20px, $siteColorAccent);
            text-transform: uppercase;
        }

        &-right {
            @include text(14px, Lato, 300, 20px, #636363);
            text-transform: uppercase;
        }
    }
}

.new-arrivals {
    color: $siteColorAccent;
    font-weight: 700;
}

// MAIN

.checkout {
    padding-left: $sitePaddingLeft;
    padding-right: $sitePaddingRight;
}

.checkout-items {
    padding-top: 33px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e8e8e8;


    &-name {
        @include text(16px, Lato, 700, 1.2, $siteColorText);
        cursor: pointer;
    }

    &-info {
        padding-top: 20px;
        @include text(16px, Lato, 700, 1.2, $siteColorText);
        padding-bottom: 27px;
    }

    &-columns {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 293px;
    }
}

.checkout-items:first-child {
    padding-top: 87px;
}

.checkout-item-left {
    padding-top: 39px;
    padding-left: 35px;
    padding-bottom: 79px;

    &-choose {
        display: flex;
        align-items: center;

        &-label-name {
            @include text(12px, Lato, bold, 1.2, $siteColorText);
        }
    }

    &-choose:first-of-type {
        padding-top: 34px;
    }

    &-choose input:checked,
    &-choose input:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    &-choose input:checked+&-choose-label,
    &-choose input:not(:checked)+&-choose-label {
        position: relative;
        padding: 2px 0 20px 38px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 4px;
    }

    &-choose input:checked+&-choose-label:before,
    &-choose input:not(:checked)+&-choose-label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 14px;
        height: 14px;
        border: 2px solid #555555;
        border-radius: 100%;
        background: #fff;
    }

    &-choose input:checked+&-choose-label:after,
    &-choose input:not(:checked)+&-choose-label:after {
        content: '';
        width: 6px;
        height: 6px;
        background: rgb(0, 0, 0);
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;
        -webkit-transition: all .2s ease;
        transition: all 0.3s ease;
    }

    &-choose input:not(:checked)+&-choose-label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &-choose input:checked+&-choose-label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.clear {
    clear: both;
}

label {
    float: left;
}

.checkout-item-left h3 {
    @include text(13px, Lato, bold, 1.2, $siteColorText);
    text-transform: uppercase;
    padding-bottom: 15px;
}

.checkout-item-left h3:nth-of-type(2) {
    padding-top: 13px;
}

.checkout-item-left p {
    @include text(13px, Lato, 400, 20px, #b3b2b2);
}

.checkout-item-left p:nth-of-type(2) {
    padding-bottom: 34px;
}

.checkout-item-left-p:last-of-type {
    padding-bottom: 38px;

}

.checkout-item-left-svg {
    width: 13px;
    height: 13px;
}

.checkout-item-left-p {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.checkout-item-left-button {
    padding: 19px 54px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    @include text(14px, Lato, bold, 1.2, #4a4a4a);
    text-decoration: none;

}

.checkout-item-left-button:hover {
    background-color: #a7a7a7;
    transition-duration: 0.3s;
}

.checkout-item-right h3 {
    @include text(13px, Lato, bold, 1.2, $siteColorText);
    text-transform: uppercase;
}

.checkout-item-right p {
    @include text(13px, Lato, 400, 20px, #b3b2b2);
    padding-top: 15px;
    padding-bottom: 27px;
}

.checkout-item-right h2 {
    @include text(12px, Lato, bold, 20px, $siteColorText);
    padding-bottom: 16px;
}

.checkout-item-right-important {
    color: red;
    font-size: 17px;
}

.checkout-item-right h2:nth-of-type(2) {
    padding-top: 23px;
}

.checkout-item-right input {
    padding: 10px;
    width: 390px;
    border: 1px solid #eaeaea;
}

.checkout-item-right input,
.checkout-item-right label {
    margin: 0.4rem 0;
}

.checkout-item-right p:nth-of-type(2) {
    @include text(13px, Lato, 400, 20px, #ff0d0d);
    padding-bottom: 45px;
}

.checkout-item-right-login {
    display: flex;
    gap: 32px;
    align-items: center;
}

.checkout-item-right-login>.checkout-item-left-button {
    padding: 22px 81px 19px 46px;
    
} 

.checkout-item-right-login a:nth-child(2) {
    @include text(14px, Lato, 400, 20px, $siteColorText);
    text-decoration: none;
}















// PRE-FOOTER


.footer-info {
    display: flex;
    margin-top: 73px;
    padding-left: $sitePaddingLeft;
    padding-right: $sitePaddingRight;
    justify-content: space-between;
    align-items: normal;
    background-image: url(img/background-foter.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-left {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 28px;
        padding-top: 111px;
        max-width: 500px;
    }

    &-left-p {
        @include text(16px, Lato, 400, 26px, #222224);
        font-style: italic;
        letter-spacing: 0.025em;
        padding-bottom: 15px;
    }

    &-left h3 {
        @include text(16px, Lato, 700, 26px, $siteColorAccent);
        letter-spacing: 0.025em;
    }

    &-left h4 {
        @include text(12px, Lato, 300, 14px, #222224);
    }
}

.footer-right-info {
    padding-top: 150px;
    padding-bottom: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right-info-p1 {
    @include text(24px, Lato, 400, 54px, #222224);
    text-align: center;
    font-style: normal;
}

.footer-right-info-p2 {
    @include text(14px, Lato, 400, 24px, #222224);
    font-style: normal;
    padding-bottom: 32px;
}

.email {
    display: flex;

}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e1e1e1;
    padding: 12px;
    border-radius: 30px 0 0 30px;
    width: 256px;
    height: 49px;
    font-size: 14px;
}

.email-button-link {
    background-color: $siteColorAccent;
    border: none;
    width: 100px;
    height: 49px;
    border-radius: 0 30px 30px 0;
    @include text(14px, Lato, 400, normal, #ffffff);
    text-align: center;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
}

.email-button-link:hover {
    background-color: #ffffff;
    color: $siteColorAccent;
    border: 1px solid $siteColorAccent;
    transition-duration: 0.3s;
}

// FOOTER-INFO

.footer-logo {
    padding-top: 64px;
    padding-left: $sitePaddingLeft;
    padding-bottom: 29px;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 89px;
}

.footer-brand-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-brand-column-info {
    @include text(14px, Lato, 300, 24px, #898989);
    letter-spacing: 0.025em;
    max-width: 500px;
    text-align: left;
}

.footer-column a {
    text-decoration: none;
}

.footer-column-name {
    list-style: none;

}

.column-link {
    @include text(16px, Lato, 400, 42px, #898989);
    letter-spacing: 0.025em;
}

.column-link:hover {
    color: $siteColorAccent;
    transition-duration: 0.2s;
}

.column-link-active {
    @include text(18px, Lato, 300, 26px, $siteColorAccent);
    letter-spacing: 0.025em;
    padding-bottom: 31px;
}

// FOOTER

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: #e6e6e6;
}

.footer-contacts-left {
    @include text(16px, Lato, 400, 42px, #7a7a7a);
    letter-spacing: 0.025em;
}

.footer-contacts-right {
    display: flex;
    flex-direction: row;
}

.footer-fb,
.footer-tw,
.footer-pint,
.footer-inst,
.footer-google {
    background-color: #FFF;
}

.footer-fb {
    padding: 8px 10.59px 8px 10.93px;
}

.footer-inst {
    padding: 8px 8.61px 7px 8px;
}

.footer-tw {
    padding: 8px 7.61px 8px 7.95px;
}

.footer-pint {
    padding: 8px 9.6px 8px 9.93px;
}

.footer-google {
    padding: 6px 7px 6px 8px;
}

.footer-fb,
.footer-inst,
.footer-tw,
.footer-pint {
    margin-right: 7px;
}


.footer-fb:hover,
.footer-tw:hover,
.footer-pint:hover,
.footer-inst:hover,
.footer-google:hover {
    background-color: #F16D7F;

}

.footer-fb:hover path,
.footer-tw:hover path,
.footer-pint:hover path,
.footer-inst:hover path,
.footer-google:hover path {
    fill: #fff;
}